In [1]:
%matplotlib inline

from Bio.Seq import Seq
from Bio import SeqIO
from Bio.Alphabet import IUPAC

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.ensemble import RandomForestClassifier

import shap

In [26]:
l = []

In [7]:
a = pd.DataFrame([[1, 2, 3],[1,2,3],[3,4,1]], columns=['a','b','c'], index=['sample 1'])
a.replace(1, np.nan, inplace=True)
a

ValueError: Shape of passed values is (3, 3), indices imply (3, 1)

In [28]:
b = pd.DataFrame([[4, 5, 6]], columns=['a','b','c'], index=['sample 2'])
b

          a  b  c
sample 2  4  5  6

In [29]:
l.append(a)
l.append(b)

In [30]:
pd.concat(l, axis=0)

          a  b  c
sample 1  1  2  3
sample 2  4  5  6

In [31]:
dic = {'a':-7, 'b':-8, 'c':-9}

In [32]:
c = pd.DataFrame(dic, index=['sample 3'])
c

          a  b  c
sample 3 -7 -8 -9

In [33]:
l.append(c)
df = pd.concat(l, axis=0)

In [34]:
abs(-3)

3

In [35]:
df

          a  b  c
sample 1  1  2  3
sample 2  4  5  6
sample 3 -7 -8 -9

In [38]:
df_abs = abs(df)
df_abs

          a  b  c
sample 1  1  2  3
sample 2  4  5  6
sample 3  7  8  9

In [39]:
df_abs.sum(axis=0)

a    12
b    15
c    18
dtype: int64